In [1]:
from sys import path as wd
from os import path, getcwd
from tqdm import tqdm
from time import sleep

workdir = path.dirname(getcwd())
wd.append(workdir)

from dags.operadores import (GoogleSheetManager, GoogleDriveManager)
from dags.estruturas import (InformationManager)
from dags.sidrapi import (SidraManager)

import json
import pandas as pd

C:\Users\usuario\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

c:\Users\usuario\OneDrive\Documentos\R\Banco de Dados\Sidra-PI V2\Sidra-PI V2\data

In [2]:
data_json = path.join(workdir, "data", "__data__info.json")
local_dir = path.join(workdir, "data", "processed")

with open(data_json, 'r') as file:
    info_data = json.load(file)

In [3]:
# Nomeclaturas 
COLUMN_NAME = "tabela" # coluna com o nome da tabela
TABLE_INDEX = 0

In [4]:
credentials_dir = path.join(workdir, "data", "credentials.json")
folder_name = info_data["MainFolder"]["Name"]
knowledge_sheet_url = r'https://docs.google.com/spreadsheets/d/11-CI4nLXTte0OcDVMl-My4PtOdif7ziWB0GKg6hkJMw/edit?usp=sharing'#info_data["Knowledge base"]

# Classes
sheet_manager = GoogleSheetManager(credentials_dir)
drive_manager = GoogleDriveManager(credentials_dir, data_json)
information_manager = InformationManager(knowledge_sheet_url)
sidra_manager = SidraManager()

In [5]:
df_information = sheet_manager.get_data_info_from_url(knowledge_sheet_url)

In [6]:
# nova versão

# Lista para armazenar os DataFrames
lista_df_variaveis = pd.DataFrame()
lista_df_categorias = pd.DataFrame()


for idx, row in tqdm(df_information.iterrows(), total=df_information.shape[0], unit="Tabelas"):
    table_number = row[COLUMN_NAME]
    dados = sidra_manager.sidra_get_metadata(table_number)
    sleep(1)
    if dados:
        request_id = row[COLUMN_NAME]
        df_variaveis = sidra_manager.sidra_process_variables(dados, request_id)
        df_categorias = sidra_manager.sidra_process_categories(dados, request_id)

        # Adicionando os DataFrames às respectivas listas
        lista_df_variaveis = pd.concat([lista_df_variaveis, df_variaveis], ignore_index=True)    # lista_df_variaveis.append(df_variaveis)
        lista_df_categorias = pd.concat([lista_df_categorias, df_categorias], ignore_index=True)    # lista_df_categorias.append(df_categorias)

    else:
        print("Falha ao obter dados.")

sidra_manager.retry_failed_requests()

  0%|          | 0/2162 [00:00<?, ?Tabelas/s]

  0%|          | 6/2162 [01:53<11:22:09, 18.98s/Tabelas]

AttributeError: 'tuple' object has no attribute 'tb_frame'

In [ ]:
lista_df_categorias

,id,nome,unidade,nivel,classificacao_nome,classificacao_id,Tabela
0,32385,Total,None,0,Condição em relação à força de trabalho e cond...,629,4092
1,32386,Força de trabalho,None,1,Condição em relação à força de trabalho e cond...,629,4092
2,32387,Força de trabalho - ocupada,None,2,Condição em relação à força de trabalho e cond...,629,4092
3,32446,Força de trabalho - desocupada,None,2,Condição em relação à força de trabalho e cond...,629,4092
4,32447,Fora da força de trabalho,None,1,Condição em relação à força de trabalho e cond...,629,4092
5,6794,Total,None,0,Sexo,2,4093
6,4,Homens,None,1,Sexo,2,4093
7,5,Mulheres,None,1,Sexo,2,4093
8,95253,Total,None,0,Grupo de idade,58,4094
9,114535,14 a 17 anos,None,1,Grupo de idade,58,4094
10,100052,18 a 24 anos,None,1,Grupo de idade,58,4094
11,108875,25 a 39 anos,None,1,Grupo de idade,58,4094
12,99127,40 a 59 anos,None,1,Grupo de idade,58,4094
13,3302,60 anos ou mais,None,1,Grupo de idade,58,4094

In [ ]:
if False: 
    # Initialize empty DataFrames
    df_tabelas_concatenados = pd.DataFrame()
    df_variaveis_concatenados = pd.DataFrame()
    df_grupos_concatenados = pd.DataFrame()

    # Iterate through rows in df_information
    for idx, row in tqdm(df_information.iterrows(), total=df_information.shape[0]):
        table_number = row[COLUMN_NAME]

        try:
            # Get data using sidra_manager.sidra_info
            (api_content, df_table) = sidra_manager.sidra_info(table_number)
            (df_variables, df_groups) = sidra_manager.sidra_get_vars(api_content)

            # Concatenate tables
            df_tables_expanded = pd.json_normalize(df_table.to_dict('records'))
            df_tables_expanded[COLUMN_NAME] = table_number
            df_tabelas_concatenados = pd.concat([df_tabelas_concatenados, df_tables_expanded], ignore_index=True)

            # Treat and concatenate variables
            df_variables_expanded = pd.json_normalize(df_variables.to_dict('records')) if df_variables is not None else pd.DataFrame()
            df_variables_expanded[COLUMN_NAME] = table_number
            df_variaveis_concatenados = pd.concat([df_variaveis_concatenados, df_variables_expanded], ignore_index=True)

            # Treat and concatenate groups
            df_groups_expanded = pd.json_normalize(df_groups.to_dict('records')) if df_variables is not None else pd.DataFrame()
            df_groups_expanded[COLUMN_NAME] = table_number
            df_grupos_concatenados = pd.concat([df_grupos_concatenados, df_groups_expanded], ignore_index=True)

            sleep(1)  # delay

        except Exception as e:
            print(f"An error occurred for table number {table_number}: {e}")
            sleep(10)
            continue  

    # Saving to Excel
    try:
        with pd.ExcelWriter(f'{local_dir}\dados_sidra.xlsx', engine='openpyxl') as writer:
            df_tabelas_concatenados.to_excel(writer, sheet_name='Tabelas', index=False)
            df_variaveis_concatenados.to_excel(writer, sheet_name='Variáveis', index=False)
            df_grupos_concatenados.to_excel(writer, sheet_name='Grupos', index=False)
    except Exception as e:
        print(f"An error occurred while saving to Excel: {e}")

100%|██████████| 2162/2162 [12:24:56<00:00, 20.67s/it]

In [ ]:
if False:
    import re
    # test = [item.split("(")[0] for item in df_tabelas_concatenados['Tipo do Período'].tolist()]
    # test2 = [re.findall(r'\((.*?)\)', item)[0] for item in df_tabelas_concatenados['Tipo do Período'].tolist()]

    test3 = df_tabelas_concatenados.copy()
    test3['Número de Períodos'] = test3['Tipo do Período'].apply(lambda x: re.findall(r'\((.*?)\)', x)[0] if re.findall(r'\((.*?)\)', x) else None)
    test3['Tipo do Período'] = test3['Tipo do Período'].apply(lambda x: x.split("(")[0] if "(" in x else "")